---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
---

<Layout title="GROCERY LIST GENERATOR">
  <main>
    <!-- SELECT WHICH TYPE OF ITEM TO ADD -->
    <section>
      <div class="grid grid-cols-3">
        <button
          id="choose_meal_button"
          class="text-xl bg-green-500 text-white font-semibold py-24 border-4 border-green-500 hover:bg-white hover:text-green-500 hover:underline hover:underline-offset-8"
          >ADD A MEAL</button
        >
        <button
          id="choose_ingredient_button"
          class="text-xl bg-blue-500 text-white font-semibold py-24 border-4 border-blue-500 hover:bg-white hover:text-blue-500 hover:underline hover:underline-offset-8"
          >ADD AN INGREDIENT</button
        >
        <button
          id="choose_other_button"
          class="text-xl bg-gray-500 text-white font-semibold py-24 border-4 border-gray-500 hover:bg-white hover:text-gray-500 hover:underline hover:underline-offset-8"
          >ADD SOMETHING ELSE</button
        >
      </div>
    </section>
    <!-- ONCE ONE OF THE BUTTONS ABOVE IS CLICKED, IT WILL DISPLAY ONE OF THESE 3 INPUTS BELOW & HIDE THE OTHER TWO -->
    <section
      id="input_section"
      class="m-4 border-gray-300 p-12 border-4 rounded-3xl"
    >
      <div class="max-w-xl mx-auto">
        <!-- ADD MEAL INPUT -->
        <div id="add_meal_input_container">
          <p class="text-center text-2xl">Add a new meal:</p>
          <input
            id="add_meal_input_text"
            type="text"
            class="w-full p-4 my-4 border-2 border-green-500"
          />

          <button
            id="add_meal_button"
            class="w-full p-4 bg-green-500 text-white text-base font-semibold hover:underline hover:underline-offset-8"
            >ADD MEAL</button
          >
        </div>
        <!-- ADD MEAL INGREDIENTS INPUT -->
        <div id="add_ingredient_to_meal_input_container" class="hidden">
          <p class="text-center text-2xl">
            Add new ingredient / pick from existing ones:
          </p>
          <div class="grid grid-cols-2 gap-4">
            <input
              id="add_ingredient_to_meal_input_text"
              type="text"
              class="p-4 my-4 border-2 border-green-500"
            />
            <select
              name="existing ingredients"
              id="existing_ingredients"
              class="p-4 my-4 border-2 border-green-500"></select>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <button
              id="add_ingredient_to_meal_button"
              class="w-full p-4 bg-green-500 text-white text-base font-semibold hover:underline hover:underline-offset-8"
              >ADD</button
            >
            <button
              id="add_ingredient_to_meal_done_button"
              class="w-full p-4 bg-red-500 text-white text-base font-semibold hover:underline hover:underline-offset-8"
              >DONE</button
            >
          </div>
        </div>
        <!-- ADD INGREDIENT INPUT -->
        <div id="add_ingredient_input_container" class="hidden">
          <p class="text-center text-2xl">Add a new ingredient:</p><input
            id="add_ingredient_input_text"
            type="text"
            class="w-full p-4 my-4 border-2 border-green-500"
          />

          <button
            id="add_ingredient_button"
            class="w-full p-4 bg-green-500 text-white text-base font-semibold hover:underline hover:underline-offset-8"
            >ADD INGREDIENT</button
          >
        </div>
        <!-- ADD OTHER ITEM INPUT -->
        <div id="add_other_input_container" class="hidden">
          <p class="text-center text-2xl">Add a new non-food item:</p><input
            id="add_other_input_text"
            type="text"
            class="w-full p-4 my-4 border-2 border-green-500"
          />

          <button
            id="add_other_button"
            class="w-full p-4 bg-green-500 text-white text-base font-semibold hover:underline hover:underline-offset-8"
            >ADD OTHER</button
          >
        </div>
      </div>
    </section>
    <!-- SECTION FOR SORTED OUTPUT -->
    <section class="p-12">
      <div class="max-w-sm mx-auto">
        <div class="mb-4 border-b-2 border-gray-200">
          <h3 class="text-xl">MEALS:</h3><br /><ul id="meals_list"></ul>
        </div>
        <div class="mb-4 border-b-2 border-gray-200">
          <h3 class="text-xl">INGREDIENTS:</h3><br /><ul id="ingredients_list">
          </ul>
        </div>
        <div class="mb-4 border-b-2 border-gray-200">
          <h3 class="text-xl">OTHER ITEMS:</h3><br /><ul id="other_items_list">
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style></style>

<script is:inline type="text/javascript">
  // THESE BUTTONS WILL UNHIDE THE RESPECTIVE INPUT SECTION
  const chooseMealButton = document.getElementById("choose_meal_button");
  const chooseIngredientButton = document.getElementById(
    "choose_ingredient_button"
  );
  const chooseOtherButton = document.getElementById("choose_other_button");

  // INDIVIDUAL TEXT INPUT CONTAINERS
  const addMealInputContainer = document.getElementById(
    "add_meal_input_container"
  );
  const addIngredientToMealInputContainer = document.getElementById(
    "add_ingredient_to_meal_input_container"
  );
  const addIngredientInputContainer = document.getElementById(
    "add_ingredient_input_container"
  );
  const addOtherInputContainer = document.getElementById(
    "add_other_input_container"
  );

  // INDIVIDUAL TEXT INPUTS
  // const addMealInput = document.getElementById(
  //   "add_meal_input"
  // );
  // const addIngredientToMealInput = document.getElementById(
  //   "add_ingredient_to_meal_input"
  // );
  // const addIngredientInput = document.getElementById(
  //   "add_ingredient_input"
  // );
  const addOtherInput = document.getElementById(
    "add_other_input"
  );

  // ITEM INPUT BUTTONS
  const addMealInputButton = document.getElementById("add_meal_button");
  // const addIngredientToMealButton = document.getElementById(
  //   "add_ingredient_to_meal_button"
  // );
  const addIngredientToMealDoneButton = document.getElementById(
    "add_ingredient_to_meal_done_button"
  );
  // const addIngredientButton = document.getElementById("add_ingredient_button");
  const addOtherButton = document.getElementById("add_other_button");

  // EMPTY ARRAYS FOR EACH TYPE OF ITEM; MEALS IS A NESTED ARRAY, WHERE EACH MEAL ITSELF IS AN ARRAY OF INGREDIENTS
  let meals = [];
  let ingredients = [];
  let otherItems = [];

  // THIS IS THE LOGIC FOR DISPLAYING THE CORRECT INPUT SECTION WHILE HIDING THE OTHER TWO
  chooseMealButton.addEventListener("click", () => {
    addMealInputContainer.classList.remove("hidden");
    addIngredientToMealInputContainer.classList.add("hidden");
    addIngredientInputContainer.classList.add("hidden");
    addOtherInputContainer.classList.add("hidden");
  });

  chooseIngredientButton.addEventListener("click", () => {
    addIngredientInputContainer.classList.remove("hidden");
    addMealInputContainer.classList.add("hidden");
    addIngredientToMealInputContainer.classList.add("hidden");
    addOtherInputContainer.classList.add("hidden");
  });

  chooseOtherButton.addEventListener("click", () => {
    addOtherInputContainer.classList.remove("hidden");
    addMealInputContainer.classList.add("hidden");
    addIngredientToMealInputContainer.classList.add("hidden");
    addIngredientInputContainer.classList.add("hidden");
  });

  // WHEN YOU ADD A MEAL, YOU ARE THEN PROMPTED TO ADD INGREDIENTS TO THE MEAL
  addMealInputButton.addEventListener("click", () => {
    Container.classList.add("hidden");
    addIngredientToMealInputContainer.classList.remove("hidden");
  });

  // YOU CLICK THE DONE BUTTON WHICH CLOSES THE ADD MEAL INGREDIENT INPUT AND GOES BACK TO DEFAULT (ADD MEAL INPUT)
  addIngredientToMealDoneButton.addEventListener("click", () => {
    addMealInputContainer.classList.remove("hidden");
    addIngredientToMealInputContainer.classList.add("hidden");
  });

  // THIS IS THE BASIC LOGIC FOR ADDING THE ITEMS INTO THEIR RESPECTIVE LISTS

  addOtherButton.addEventListener("click", () => {
    const addOtherInputValue = addOtherInput.value;
    otherItems.push(addOtherInputValue);
  });

  console.log(meals);
  console.log(ingredients);
  console.log(otherItems);
</script>
