---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
---

<Layout title="GROCERY LIST GENERATOR">
  <main>
    <section>
      <div class="grid grid-cols-3">
        <button
          id="add_meal_button"
          class="text-xl bg-green-500 text-white font-semibold py-24 border-4 border-green-500 hover:bg-white hover:text-green-500 hover:underline hover:underline-offset-8"
          >ADD A MEAL</button
        >
        <button
          id="add_ingredient_button"
          class="text-xl bg-blue-500 text-white font-semibold py-24 border-4 border-blue-500 hover:bg-white hover:text-blue-500 hover:underline hover:underline-offset-8"
          >ADD AN INGREDIENT</button
        >
        <button
          id="add_other_button"
          class="text-xl bg-gray-500 text-white font-semibold py-24 border-4 border-gray-500 hover:bg-white hover:text-gray-500 hover:underline hover:underline-offset-8"
          >ADD SOMETHING ELSE</button
        >
      </div>
    </section>
    <section
      id="input_section"
      class="bg-gray-300 p-12 border-8 border-white rounded-3xl hidden"
    >
      <div class="max-w-sm mx-auto">
        <div id="add_meal_input" class="hidden">
          <p class="text-center text-2xl">Add a new meal:</p>
          <input type="text" class="w-full p-4 my-4 " />
          <div class="grid grid-cols-2">
            <button class="p-4 bg-green-400 text-white hover:underline">Add</button><button class="p-4 bg-red-400 text-white hover:underline ">Close</button>
          </div>
        </div>
        <div id="add_ingredient_input" class="hidden">
          <p class="text-center text-2xl">Add a new ingredient:</p><input
            type="text"
            class="w-full p-4 my-4 "
          />
          <div class="grid grid-cols-2">
            <button class="p-4 bg-green-400 text-white hover:underline">Add</button><button class="p-4 bg-red-400 text-white hover:underline ">Close</button>
          </div>
        </div>
        <div id="add_other_input" class="hidden">
          <p class="text-center text-2xl">
            Add a new non-food item:
          </p><input type="text" class="w-full p-4 my-4 " />
          <div class="grid grid-cols-2">
            <button class="p-4 bg-green-400 text-white hover:underline">Add</button><button class="p-4 bg-red-400 text-white hover:underline ">Close</button>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style></style>

<script is:inline type="text/javascript">
  const addMealButton = document.getElementById("add_meal_button");
  const addIngredientButton = document.getElementById("add_ingredient_button");
  const addOtherButton = document.getElementById("add_other_button");

  const inputSection = document.getElementById("input_section");

  const addMealInput = document.getElementById("add_meal_input");
  const addIngredientInput = document.getElementById("add_ingredient_input");
  const addOtherInput = document.getElementById("add_other_input");

  addMealButton.addEventListener("click", () => {
    inputSection.classList.remove("hidden");
    addMealInput.classList.remove("hidden");
    addIngredientInput.classList.add("hidden");
    addOtherInput.classList.add("hidden");
  });

  addIngredientButton.addEventListener("click", () => {
    inputSection.classList.remove("hidden");
    addIngredientInput.classList.remove("hidden");
    addMealInput.classList.add("hidden");
    addOtherInput.classList.add("hidden");
  });

  addOtherButton.addEventListener("click", () => {
    inputSection.classList.remove("hidden");
    addOtherInput.classList.remove("hidden");
    addMealInput.classList.add("hidden");
    addIngredientInput.classList.add("hidden");
  });
</script>
