---
---

<nav>
  <section class="p-12">

      <h1 class="text-5xl italic text-green-500">GROCERY LIST GENERATOR</h1>

  </section>
  <section class="p-12 bg-green-100 text-base">
    <div class=" max-w-md mx-auto" >
        <h2 class="text-3xl font-semibold" >
            Organize your grocery/shopping lists & plan meals.
        </h2>
        <br/>
        <p class="text-base">
            You can input meals (comprised of ingredients), and you can also add individual ingredients.  
        </p>
        <br/>
        <p class="text-base">
            You can then generate a grocery list from whatever meals you add & select + whatever extra ingredients you need as well.
        </p>
        <br/>
        <p class="text-base">
            Need to add something else that isn't food?  You can add that to your list, too!
        </p>
    </div>
  </section>
</nav>
<style></style>
